.wrapper {
  overflow-x: scroll;
  border: 1px solid #999;
  padding: 10px;
}
.wrapper div {
  display: flex;
  white-space: nowrap;
}
.wrapper div div {
  border: 1px solid #999;
  padding: 10px 20px;
  margin: 10px;
  background: #f2f2f2;
  height: 100px;
  width: 120px;
}