doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/03.css")
        title Document
    body 
        p(class="lead") 中心から外に線が伸びる
        ul(class="gnavi")
            li(class="current")
                a(href="#") HOME 
            li()
                a(href="#") About
            li()
                a(href="#") Service
            li()
                a(href="#") Content 
            li()
                a(href="#") Content 