doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/ress.css")
        link(rel="stylesheet", href="css/morita_02.css")
        title Document
    body 
        h1 表紙リストを横スクロールにする
        .wrapper 
            .boxContainer 
                .box ボックス1
                .box ボックス2
                .box ボックス3
                .box ボックス4
                .box ボックス5
                .box ボックス6
                .box ボックス7
                .box ボックス8
                .box ボックス9
                .box ボックス10
                .box ボックス11